altgraph==0.17.4
auto-py-to-exe==2.43.3
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
Eel==0.16.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.6
packaging==24.0
pefile==2023.2.7
pillow==10.2.0
py2exe==0.13.0.1
pycparser==2.22
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pywin32-ctypes==0.2.2
requests==2.31.0
ttkthemes==3.2.2
urllib3==2.2.1
watchdog==4.0.0
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.2
